body{
    background-color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px 100px;
}
.inputs{
    display: flex;
}
.inputs button{
    flex: 1;
    margin-left: 20px;
}
input{
    width: 80%;
    height: 30px;
    text-align: center;
    font-size: x-large;
    border: 2px solid burlywood;
    padding-top: 10px;
    padding-bottom: 10px;
}
button{
    padding: 15px 30px;
    border: none;
    background-color: burlywood;
    color: white;
    border-radius: 5px;
}
.info{
    text-align: left;
}
.wordInfo{
    display: flex;
}
.audios h1{
    text-align: center;
}
@media only screen and (max-width:991px) {
    .main{
        position: relative;
        top: 0px;
        left:0;
        transform: translate(0,0);
        padding: 50px 10px;
        margin-top: 35%;
    }
}